

.myaccounts{
    position: absolute;
    z-index: -9999;
    background: black;
    background: rgb(0, 0, 0);
    width: 100vw;
 }
 
 
 .my-accounts-container {
     width: 75%;
     height: 90vh;
     background: rgb(0, 0, 0);
     margin: 10vh 5vw 0 20vw;
     position: relative;
     overflow-y: scroll;
     overflow-x: scroll;
 }
 
 .my-accounts-title {
     color:rgb(255, 255, 255);
     font-size: 5rem;
     padding-top: 10px;
     font-weight: 200;
 }
 
 @media screen and (max-width: 758px) {
     .myaccounts {
         position: fixed;
         width: 100vw;   
         overflow-x: hidden;
         overflow-y: scroll;
         height:100%;
     }
 
     .my-accounts-container {
         width: 98%;
         overflow-x: hidden;
         z-index: -999; 
         margin: 8vh 0 0 0;
         text-align: center;
     }
     
     .my-accounts-title {
         font-size: 3rem;
     }

 }