.mytransactions{
    position: absolute;
    z-index: -9999;
    width: 100vw;
    background: black;
    overflow-y: scroll;
    overflow-x: hidden;
 }
 
 
 .my-transactions-container {
     width: 75%;
     height: 100%;
     background: rgb(0, 0, 0);
     margin: 10vh 0 0 21vw;
     position: relative;
 }
 
 .my-transactions-title {
     color:rgb(255, 255, 255);
     font-size: 5rem;
     padding-top: 10px;
     font-weight: 200;
 }
 
 
 @media screen and (max-width: 758px) {
     .mytransactions {
         position: fixed;
         width: 100vw;   
         overflow-x: hidden;
         overflow-y: scroll;
         height:100%;
     }
 
     .my-transactions-container {
         width: 98%;
         overflow-x: hidden;
         z-index: -999; 
         margin: 8vh 0 0 0;
         text-align: center;
     }
     
     .my-transactions-title {
        font-size: 3rem;
    }
 }