.service-requests {
   position: absolute;
   width: 100vw;
   height: 100vh;
   background-color: black;
}

.service-form-container {
    width: 75%;
    height: 100%;
    background: rgb(0, 0, 0);
    margin: 10vh 0 0 20vw;
    position: relative;
    justify-content: center;
}

.form-title {
    color:rgb(255, 255, 255);
    font-size: 3rem;
    padding-top: 10px;
    font-weight: 200;
}

.upload-prompt {
    border: none;
    color: black;
    font-size: 1.1em;
    font-weight: 300 !important;
    border: none;
    border-radius: 2px;
    background-color: rgb(255, 208, 0);;
    padding: 0.3em 0.6em;
    display: block;
    text-align: center;
    margin-right: 10px;
  }

  .upload-prompt input {
      display: none;
  }
  
  .upload-prompt:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: rgb(255, 208, 0);;
  }

.dropdown-prompt {
    color:rgb(255, 255, 255);
    margin: 3vh 5vw 2vh;
    font-size: 1.5rem;
    padding-top: 10px;
    font-weight: 200;
}

.select {
    margin-left: 5vw !important;
    border-radius: 1px;
    font-size: 1.5rem;
    font-weight: 200;
    color: black;
    background: white;
}

.contact-prompt {
    color: white;
    margin: 3vh 1vw 0 5vw ;
    font-weight: 300;
}

.contact-prompt a {
    color: rgb(255, 208, 0);
    font-weight: 600;
}

.text-prompt {
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
    font-size: 1.5rem;
    padding-top: 10px;
    font-weight: 200;
}

.text-area {
    width: 80%;
}
.service-btn-submit {
    margin: 5vh 5vw 0vh 5vw;
    padding: 10px 20px;
    background:rgb(255, 255, 255);
    color: black;
    border: none;
    font-size: medium;
}

.service-btn-submit:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: rgb(0, 0, 0);
    background: rgb(255, 196, 0);
    transition: 0.15s ease-in-out;
}

.service-btn {
    margin: 2vh 2vw 0 2vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background: rgb(44, 121, 131);
}

.service-btn:hover {
    cursor: pointer;
    transform: scale(1.03);
    color: rgb(44, 121, 131);
    background: white;
    transition: 0.15s ease-in-out;
}

.left-arr {
    margin-top: 2px;
    margin-right: 10px;
}

.top-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    color: white;
    white-space: pre-wrap;
}

.upload-prompt {
    margin-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
}

@media screen and (max-width: 758px) {
    .service-requests {
        position: fixed;
        width: 100vw;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .service-form-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 2vw 2vw 0;
        width: 100vw;
    }

    .top-section {
        display: flex;
        flex-direction: column;

        align-items: center;
    }
}