.popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: #00000033 ;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background: white;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    border: 4px solid rgb(255, 196, 0);
    font-weight: 600;
    border-radius: 2px;
}

.popup-inner .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
}

.close-btn {
    background: black;
    padding: 10px 20px;
    color: white;
    border-radius: 2px;
    border: none;
}

.close-btn:hover {
    background: rgb(255, 196, 0);
    color: black;
    transition: 0.2s ease-in-out;
}
