.custom-table {
  margin: 10px;
  width: 95%;
}

.custom-table th {
  border-bottom: thick solid rgb(255, 174, 0);
  color:rgb(255, 255, 255);
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: bolder;
}

.custom-table td {
  border-right: thin solid rgb(255, 255, 255);
  border-bottom:thin solid rgb(255, 255, 255);
  font-weight: 300;
  color: white;
  padding: 1em;
}


@media screen and (max-width: 758px) {
  .my-trusts-table {
    height: 100%;
}

  .custom-table td {
    padding: 1em 0 !important;
    max-width: 99px;
    font-size: 0.8rem;
    overflow: hidden;
  }

  .custom-table th {
    font-size: 0.9rem;
  } 
  
}